.heading-text{
    text-align: center;
    /* display:flex;    */
    background-image: url("./opaqueimage.png");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height:100vh;
}

.question{
    margin-top:10%;
    width:50%;
    height:70px;
    font-size:22px;
    border-radius: 20px;
}

.btn{
    margin-top:2%;   
}

/* .dynamic-images{
    display:flex;
} */

/* .img-with-buttons{
    width:10%;
    display:flex;
    justify-content: center;
} */

/* .dwnld-img{
    margin-left:170vh;  
}

.buy-nft{
    margin-left:10vh;
} */

.card-deck{
    display:flex;
}

.card{
    margin-top:6%;
    margin-left:6%;
}